# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Passwords for database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Secret key for django app settings
SECRET_KEY=

# DEBUG SETTINGS
DEBUG=